<div class="text-center">
    <form asp-action="Calucter">
        <div>
            <input type="number" name="Number1" /> أدخل الرقم الاول
            <input type="number" name="Number2" />      أدخل الرقم الثاني
            <input type="text" name="Opertation" /> أدخــل العملية
        </div><br />
        <div class="text-center">
            <button type="reset">إلغاء</button>
            <button type="submit">تمام</button>
        </div>
    </form>
</div>

<p >@ViewData["values"]:الناتج هو</p>



